.fb-profile-block {
    position: relative;
    margin: 0 auto;
    min-width: 100%;

}
.cover-container{
    background: grey;
    height: 25vh;
}
.cover-container img{
    min-width: 100%;
    height: 25vh;
}
.fb-profile-block-thumb{
    display: block;
    height:25vh;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.upper-tab .active{
    background: #FFFFFF;
    height: 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 34px;
    border-bottom-color: #007F7F;
    border-bottom: 3px solid #007F7F;
}
.upper-tab{
    background: #FFFFFF;
    font-size: 15px;
    line-height: 34px;
}
.wrapper{
    background: #F8FAFA;
}
#navlist li a:visited {
    border-bottom-color: #007F7F;
    border-bottom: 3px solid #007F7F;

}
.profile-card {
    margin-top: 2.2em;
    position: relative;
 }
.thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow:shadow;
}
.wrapper-card {
    width: 343px;
    height: 540px;
    background: #FDFEFF;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(#000000, .2);
    position: absolute;
    bottom: 2px;
    top: -139px;
    left: 99px;
}

.wrapper .mt-3 {
    margin-top: -4rem!important;

}
.portfolio .mt-3{
    margin-top: 2rem!important;
}
.card-text-tab {
    margin-bottom: 12px;
    border-bottom: 1px solid #e1e7ec;

}
.card-text-tab h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 12px;

}
.card-text-tab h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;

}
.card-text-tab1 h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 12px;
    margin-left: 23px;
}
.profile h4{
    font-weight: 700;
    font-size: 28px;
    line-height: 23px;
    margin-bottom: 12px;
    margin-left: 23px;
}
.profile h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    margin-left: 23px
}

.profile button{
    display: inline;
    margin-left: 7rem;
    margin-bottom: 2rem;

}
.card-text-tab1 h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    margin-left: 23px
}
.card-text-tab ul li span{
    color:#007F7F;
    font-size: 12px;
    padding: 7px 8px;

}

/*ul.timeline > li:before {*/
/*    content: '';*/
/*    background: black;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    border-radius: 50%;*/
/*    border: 2px solid black;*/
/*    left: -5px;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    z-index: 400;*/
/*}*/
.timeline li {
    list-style:outside;
}
 .short-text{
    display: inline;
    font-size: 16px;
    font-weight:500;
     margin-left: 21px;
}
.profile .short-text{
    display: inline;
    font-size: 12px;
    font-weight:500;
    margin-left: 0rem;
}
@media only screen and (max-width: 600px) {
    .profile .short-text {
        display: inline;
        font-size: 14px;
        font-weight: 500;
        margin-left: 3rem;
    }
}
@media only screen and (max-width: 600px) {
    .profile button {
        display: inline;
        margin-left: 10rem;
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 768px) {
    .profile button {
        display: inline;
        margin-left: 10rem;
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 768px) {
    .profile .short-text {
        display: inline;
        font-size: 11px;
        font-weight: 600;
        margin-left: 1rem;
    }
}
.timeline{
    padding-left: 20px;
}
.article a{
    color: #7F007F !important;
}
.timeline li > p{
    font-family:'Mulish';
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}
.border-left {
    border-width: 2px;
    border-left: dotted;
    margin-bottom: 17px;
}
.border-left:before {
    content: '';
    background: black;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    left: -6px;
    width: 10px;
    height: 10px;
    z-index: 400;
}
.technologies{
   display: flex;
}
.techno .on{
    display:inline-block;
}
.techno.on ~ .techno.on::before {
    content: ', ';
}

.quote {
    height: 48vh;
    color: #383838;
    background: #FAF5FD !important;
}
.quote  .blockquote{
    font-family: 'Mulish';
    font-style: italic;
    display: block;
    max-width: 100%;
    position: relative;
    padding: 21px 4px;
}
@media only screen and (max-width: 600px) {
    .quote {
        height: 86vh;
        color: #383838;
        background: #FAF5FD !important;
        margin-bottom: 174px;
    }
}

.quote blockquote{
    background: #FAF5FD !important;
}

@media only screen and (max-width: 600px) {
    .quote  .blockquote {
        font-family: 'Mulish';
        font-style: italic;
        display: block;
        max-width: 100%;
        position: relative;
        padding: 21px 4px;
        color: #383838;
    }
}

/*blockquote:before {*/
/*    display: block;*/
/*    padding-left: 10px;*/
/*    content: "\201C";*/
/*    font-size: 80px;*/
/*    position: absolute;*/
/*    left: -7px;*/
/*    top: -6px;*/
/*    color: #80005f5e;*/
/*}*/
/*blockquote:after {*/
/*    display: block;*/
/*    padding-left: 10px;*/
/*    content: "\201D";*/
/*    font-size: 80px;*/
/*    position: absolute;*/
/*    left: 739px;*/
/*    top: 86px;*/
/*    color: #80005f5e;*/
/*}*/

.quote .cite{

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #515151;
}

.quote.cite:before {
    content: "\2014 \2009";
}
.quote  .blockquote  .cite{
    background: #FAF5FD;
    border-radius: 3px;

}
@media (min-width: 768px){
    .container {
        max-width: 100%;
    }
}
button.standard-btn-sm-edit {
    padding: 5px 16px;
    border: 0px solid #e1e7ec;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    background-color: #7f007f;
    color: #fff;
}
button.standard-btn-sm-exp{
    padding: 7px 10px;
    border: 0px solid #e1e7ec;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    background-color: #7f007f;
    color: #fff;
    
}
.profile .sep-solid {
    border-top: 1px solid #c5e0e0;
}
.profile .profile-data{
    background: #F5FFFF;
}
.profile .profile-data h5{
    align-items: center;
    margin-top: 0.55rem
}
.profile .profile-data span{
    margin-left: 1rem;
    margin-top: -0.45rem;
    color: #007F7F;
    font-weight: 600;
    font-size: 18px;

}
.moretext {
    display: none;
}
.profile .article{
    width: 21rem;
    justify-content: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    word-wrap: break-word;
}
.editprofileheader{
    background: #EDEDED;
    border-radius: 2px;
}
.editprofileheader h5{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #007F7F;
}

#editprofile .btn-save {
    background-color: #7f007f;
    border-radius: 5px;
    border: 1px solid #7f007f;
    color: #fff;
    padding: 6px 2px;
    font-size: 13px;
    width: 5rem !important;
}
#editprofile .btn-cancel {
    color:  #7F007F ;
    padding: 6px 2px;
    font-size: 13px;
    width: 5rem !important;
}

#editprofile .btnclose
{
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 6px;
    color: #007F7F;
    background:#ECFCFC url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 2px solid #007F7F;
    border-radius:11.25rem;

}
#addexperience .btn-save {
    background-color: #7f007f;
    border-radius: 5px;
    border: 1px solid #7f007f;
    color: #fff;
    padding: 6px 2px;
    font-size: 13px;
    width: 5rem !important;
}
#addexperience .btn-cancel {
    color:  #7F007F ;
    padding: 6px 2px;
    font-size: 13px;
    width: 5rem !important;
}

#addexperience .btnclose
{
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 6px;
    color: #007F7F;
    background:#ECFCFC url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 2px solid #007F7F;
    border-radius:11.25rem;

}
li.my-custom-css {
    background-color:red;
}
.profile .tags-container .custom_badge {
    background: #007f7f;
    color: #fff;
}
.profile .grey_badge {
    background-color: #d9d9d9;
    color: #636060;
}
.profile .custom_badge {
    display: inline-block;
    padding: 0.45em 0.67em;
    font-size: 100%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2.25rem;
    margin: 8px;
}
.top-buffer { margin-top:20px; }


@media only screen and (min-width: 768px) {
    .profile .article {
        justify-content: center;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        word-wrap: break-word;
        overflow: hidden;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    button.standard-btn-sm-edit {
        padding: 5px 16px;
        border: 0px solid #e1e7ec;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-size: 13px;
        font-weight: 400;
        background-color: #7f007f;
        color: #fff;
        margin-left: 43px;
    }
}
@media only screen and (min-width: 1200px) {
    button.standard-btn-sm-edit {
        padding: 5px 16px;
        border: 0px solid #e1e7ec;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-size: 13px;
        font-weight: 400;
        background-color: #7f007f;
        color: #fff;
        margin-left: 100px;
    }
}

@media only screen and (min-width: 992px) {
    button.standard-btn-sm-edit {
        padding: 5px 16px;
        border: 0px solid #e1e7ec;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-size: 13px;
        font-weight: 400;
        background-color: #7f007f;
        color: #fff;
        margin-left: 83px;
    }
}

    .inner-tab .tab-button.active  {
        padding: 9px 20px;
        border: 0px solid #e1e7ec;
        border-radius: 1px 0px 0px 1px;
        font-size: 15px;
        font-weight: 400;
     background: #007F7F;
        color: #fff;
    }
.inner-tab .tab-button  {
    padding: 9px 20px;
    border: 0px solid #e1e7ec;
    border-radius: 1px 0px 0px 1px;
    font-size: 15px;
    font-weight: 400;
    background: #DBEFEF;
    color: #90BCBC;
}
.select2_element .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #007F7F;
    border: 1px solid #007F7F;
    border-radius: 17px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    color: #FFFFFF;
}
.select2_element .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #007F7F;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #FFFFFF;;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
}
blockquote::before {
    content: open-quote;
    color:#80005f5e;
    font-size: 28px;
    font-weight: 700;
}
blockquote::after {
    content: close-quote;
    color: #80005f5e;
    font-size: 28px;
    font-weight: 700;
}
@media (min-width: 576px){
    /* .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    } */
}
/* .modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
} */
.section-heading-border{
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 5px;
    padding-bottom: 5px;

}
.fa, .fas {
    font-weight: 900;
    margin-left: -6px !important;
}
.btn{
    border-radius: 6px !important;
}
.add-more-lng-btn {
    color: #7f007f !important;
    
}   
.btn-save{
    margin-left: 5px !important;
}
