ul.skills-listing li {
    float: left;
    display: inline-block;
    background: #58A7A7;
    border-radius: 20px;
    padding: 2px 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 1%;
}
.skills-c h2{
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
color: #000000;

}
.sorting-mbl .row {
    text-align: right;
    display: initial;
}
.sorting-mbl .col-md-4 {
    width: 17%;
    /* float: right; */
    text-align: right;
}
ul.skills-listing {
    margin-top: 15px;
}
.skills-c {
    margin-top: 30px;
}
.p_desription p {
    width: 89%;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    width: 86%;
    display: inline-block;
    padding: 35px 0px 20px 0px;
}
a.btn-products-s {
    border: 1px solid #7F007F;
    border-radius: 4px;
    padding: 8px 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #7F007F;

}
a.btn-products-s.phire {
    background: #7F007F;
    color: #fff;
}
p.rateperh {
    font-size: 15px;
    line-height: 18px;
    color: #007F7F;
    font-weight: 600;
    margin-top:6px;
}
p.perhourprice {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
h4.pname-c {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #7F007F;
    margin-top: 16px;
}

p.pdesination-c {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.plocation {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    position: relative;
    padding-left: 20px;
    margin-top: 42px;
}
p.plocation:before {
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
    left: 0px;
    top: 2px !important;
    content: '';
    background: url(/assets/images/job/location-icon.png) no-repeat;
}
.biorow{
    margin-top: 60px;

}
.borderleftc{
    position: relative;
}
.borderleftc:after {
    height: 62px;
    width: 1px;
    background: #CBDFDF;
    content: '';
    right: 11px;
    position: absolute;
    top: 5px;
}
.cv-container {
    border: 1px solid #CBDFDF;
    padding: 20px 10px 60px 10px;
}
.prosals-h {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    display: inline-block;
    padding: 10px 10px 40px 17px;
}
div#custom-search-input {
    background: #EFF8F8;
    border: 1px solid #CBDFDF;
    border-radius: 6px;
    width: 100%;
}

div#custom-search-input input {
    background: transparent;
    border: none;
    padding: 0px;
    height: 40px;
    padding: 10px 15px;
}


div#custom-search-input .input-group {
    margin-bottom: 0px;
}
div#custom-search-input span.input-group-btn {
    position: relative;
    top: 9px;
    right: 10px;
}
select#Filters {
    float: right;
    background: #EFF8F8;
    border: 1px solid #CBDFDF;
    border-radius: 5px;
    padding: 8px 17px 8px 34px;
    color: #007F7F;
    font-size: 16px;
    width: 100%;
    appearance: none;
    background: #EFF8F8 url(/assets/images/job/arrow.png) no-repeat !important;
    background-position: 93% center !important;
}
select#bestmatch {
        float: right;
        background: #EFF8F8;
    border: 1px solid #CBDFDF;
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
    color: #007F7F;
    font-size: 16px;
    position: relative;
    appearance: none;
    background: #EFF8F8 url(/assets/images/job/arrow.png) no-repeat !important;
    background-position: 93% center !important;
    width: 100%;
}

p.sort-p {
    width: 80%;
    display: inline-block;
    float: left;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 11px;
}
.row.btns-s {
    position: relative;
    left: 23px;
}

@media only screen and (max-width:1200px){
    a.btn-products-s {
    border: 1px solid #7F007F;
    border-radius: 4px;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 13px;
}
p.sort-p {
    width: 70%;
    }
    .sorting-mbl .col-md-4{
        width:22% !important;
    }


}
.attachment{
    display: inline-block;
width: 100%;

margin: top;
margin-top: -50px;
}
.heading-text{
    text-align: left;
}
.row.btns-s {
position: relative;
left: 23px;
/* width: 300px; */
}
a.btn-products-s {
border: 1px solid #7F007F;
border-radius: 4px;
padding: 8px 2% !important;
font-weight: 600;
font-size: 14px;
line-height: 18px;
color: #7F007F;
width: auto !important;
margin: 0px 2.5% !important;
}
/* for resolving ui issue on large screen */
@media (min-width: 768px){
.col-md-7 {
    flex: 0 0 auto;
    width: 100%;
}
}

@media only screen and (min-width:768px){

    .sorting-mbl .col-md-4:first-child {

    width: 30%;

    }
    div#custom-search-input {

    position: relative;
    top: -16px;
    }
    .col-md-10.sorting-mbl {
    text-align: right;
    display: inline-block;
    /* width: 100%; */
    }

.sorting-mbl .col-md-4 {
    width: 17%;
    /* float: right; */
    text-align: right;
    display: inline-block;
    clear: right;
    }
} 
@media only screen and (max-width:767px){
.attachment{
    margin-top:-20px;
}
ul.skills-listing{
    width: 100%;
}
.sorting-mbl .col-md-4{
    float: left !important;
}
.p_desription p{
    width: 100%;
    text-align: center;
}
a.btn-products-s {
    width: auto !important;
    text-align: CENTER;
    margin: 8px auto;
    display: block;
    padding: 7px 20%;
    display: inline-block;

}
ul.skills-listing li {
margin-right: 1% !important;
margin-bottom: 14px !important;
font-size: 12px !important;
padding: 2px 2% !important;
}

select#Filters {
float: none;
background: #EFF8F8;
border: 1px solid #CBDFDF;
border-radius: 5px;
padding: 8px 17px 8px 34px;
width: 100%;
margin-right: -13px;
}
p.rateperh{
text-align: center;
}
p.perhourprice {
font-weight: 600;
font-size: 14px;
line-height: 18px;
color: #000000;
text-align: CENTER;
margin-bottom: 20px;
}
.row.borderleftc {
text-align: center;
margin-top: 30px;
}
.borderleftc:after{
display: none;
}
.plocation {
font-weight: 600;
font-size: 14px;
position: relative;
padding-left: 0px;
margin-top: 2px;
margin-bottom: 40px !important;
margin-top: 16px;
display: inline-block;
}
p.plocation:before{
left: -24px;
}
.row.btns-s {
position: relative;
left: 0px;
text-align: center;
}
.row.btns-s .col-md-4{
display: inline-block;
flex: auto;
width: 3.33%;
}
.row.btns-per .col-md-4{
display:inline-block;
float: left;
width: 33%;
}

ul.skills-listing {
margin-top: 15px;
text-align: center;
display: inline-block;
}
ul.skills-listing li{
float: none;
display: inline-block;
}
.skills-c h2{
text-align: center;
}
.col-md-9.sorting-mbl .col-md-2 {
width: 40%;
float: left;
display: inline-block;
}
.col-md-9.sorting-mbl .col-md-10 {
width: 60%;
float: left;
display: inline-block;
}
select#bestmatch {

float: right !important;
width: 84% !important;
margin-bottom: 15px;
right: 0px;

}
p.sort-p {
width: auto !important;
}
.col-md-9.sorting-mbl {
margin-top: 20px;
}
}

@media only screen and (max-width:414px){
select#bestmatch{
    right: -15px !important;
}
select#bestmatch {
padding: 8px 5px 8px 5px !important;
color: #007F7F;
font-size: 13px !important;
width: 77% !important;

}
select#Filters {
padding: 8px 17px 8px 13px !important;
font-size: 13px !important;
}
ul.skills-listing li {
margin-right: 1% !important;
margin-bottom: 14px !important;
font-size: 12px !important;
padding: 1px 3% !important;
}
.row.btns-s{
    width: 100% !important;
}  

}
@media only screen and (min-width:767px) and (max-width:992px){
a.btn-products-s {
border: 1px solid #7F007F;
border-radius: 4px;
padding: 6px 5px !important;
font-weight: 600;
font-size: 10px !important;
}
p.rateperh {
font-size: 12px !important;
line-height: 18px;
color: #007F7F;
font-weight: 600;
margin-top: 6px;
}
h4.pname-c {
font-weight: 600;
font-size: 12px !important;
line-height: 23px;
color: #7F007F;
margin-top: 16px;
}
p.pdesination-c {
font-weight: 600;
font-size: 12px !important;
line-height: 18px;
color: #000000;
}
p.perhourprice {
font-weight: 600;
font-size: 12px !important;
line-height: 12px !important;
color: #000000;
}
select#Filters {
float: right;
background: #EFF8F8;
border: 1px solid #CBDFDF;
border-radius: 5px;
padding: 8px 17px 8px 11px;
color: #007F7F;
font-size: 16px;
width: 123px !important;
}
select#bestmatch {
float: right;
background: #EFF8F8;
border: 1px solid #CBDFDF;
border-radius: 5px;
padding: 10px 15px 8px 10px;
color: #007F7F;
font-size: 14px;
position: relative;
width: 120px;
top: 0px;
}
}
.plocation {
font-weight: 600;
font-size: 12px !important;
line-height: 18px;
color: #000000;
position: relative;
padding-left: 20px !important;
margin-top: 12px !important;
}
p.plocation:before {
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
    top: 1px !important; 
    content: '';
    background: url(/assets/images/job/location-icon.png) no-repeat;
    margin-left: 0px;
}

@media only screen and (max-width:1190px){
    select#bestmatch{
        right: 0px;
    }
    .sorting-mbl .col-md-4{
        width:28% !important;
    }
}
@media only screen and (max-width:767px){
    .p_desription p{
        width: 100%;
        text-align: center;
    }
    a.btn-products-s {
   
    width: 200px;
    text-align: CENTER;
    margin: 8px auto;
    display: block;
}
ul.skills-listing li{
    margin-right: 2%;
    margin-bottom: 14px;
}
select#bestmatch {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    right: 0px;
}

select#Filters {
    float: none;
    background: #EFF8F8;
    border: 1px solid #CBDFDF;
    border-radius: 5px;
    padding: 8px 17px 8px 34px;
    width: 100%;
    margin-right: -13px;
   
}
p.rateperh{
    text-align: center;
}
p.perhourprice {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-align: CENTER;
    margin-bottom: 20px;
}
.row.borderleftc {
    text-align: center;
    margin-top: 30px;
}
.borderleftc:after{
    display: none;
}
.plocation {
    font-weight: 600;
    font-size: 14px;
    position: relative;
    padding-left: 0px;
    margin-top: 2px;
    margin-bottom: 40px !important;
    margin-top: 16px;
    display: inline-block;
}
p.plocation:before{
    left: -24px;
}
.row.btns-s {
    position: relative;
    left: 0px;
}
ul.skills-listing {
    margin-top: 15px;
    text-align: center;
    display: inline-block;
}
ul.skills-listing li{
    float: none;
    display: inline-block;
}
.skills-c h2{
    text-align: center;
}
.sorting-mbl .col-md-4{
    width:33% !important;
    padding: 5px !important;
}
}
@media only screen and (max-width:414px){
    .sorting-mbl .col-md-4:first-child {
        display: block !important;
        width: 100% !important;
        float: none;
    }
    .sorting-mbl .col-md-4 {
        width: 50% !important;
        padding: 5px !important;
    }
    select#Filters{
        margin-right: 0px !important;
    }
    select#bestmatch{
        width: 100% !important;
        right: 0px !important;
    }
    
}