.hero-banner {
  .btn--post {
    background-color: #7f007f;
    padding: 8px 24px;
    border-radius: 7px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #7f007f;
  }

  .btn--post:hover {
    background-color: #fff;
    padding: 8px 24px;
    border-radius: 7px;
    color: #7f007f;
    border: 2px solid #7f007f;
    font-weight: 600;
   
      // -webkit-box-shadow: inset 1px 1px 10px #7f007f;
      // -moz-box-shadow:    inset 1px 1px 10px #7f007f;
      // box-shadow:         inset 1px 1px 10px #7f007f;

  }
  .btn--search {
    background-color: #fff;
    padding: 8px 24px;
    border-radius: 7px;
    color: #7f007f;
    border: 2px solid #7f007f;
    font-weight: 600;

  }
  .btn--search:hover {
    background-color: #7f007f;
    padding: 8px 24px;
    border-radius: 7px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #7f007f;
    
    // -webkit-box-shadow: inset 1px 1px 10px #560056;
    // -moz-box-shadow:    inset 1px 1px 10px #560056;
    // box-shadow:         inset 1px 1px 10px #560056;
  }
  padding: 60px 15px 40px;
  .heading {
    color: #007f7f;
    @include vp_min(767px) {
      max-width: 90%;
      font-size: 45px;
    }
  }
  .para {
    font-size: 18px;
    color: #a5a5a5;
    font-weight: 500;
    @include vp_min(767px) {
      padding-top: 15px;
    }
  }
  .inline-list {
    list-style: disc;
    margin-left: 15px;
    ::marker {
      color: #007f7f;
    }
    li {
      @include vp_min(767px) {
        font-size: 14px;
        display: list-item;
        margin-right: 27px;
        float: left;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .hero-banner {
    padding: 10px;
    text-align: center;
    figure {
      svg {
        width: 100%;
        height: 150px;
      }
    }
  }
}
// Dynamic banner handling old css

.selection {
  width: 100%;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: 1px solid #e1e7ec !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #e1e7ec;
}

/*banner css*/
.detail-banner {
  /*min-height: 60vh;*/
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 70px;
}

.detail-banner .content {
  padding: 2em;
}

.detail-banner .banner_header {
  text-align: center;
  padding: 1em;
}

.detail-banner .banner_header img {
  max-width: 200px;
}

.detail-banner .content .heading,
.detail-banner .content .para {
  color: white;
}

.detail-banner .footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
}

.detail-banner .footer img {
  max-width: 100px;
}

.item-card-wrapper .item-card-thumb {
  // background-image: url("https://dure.afnato.com/assets/images/logoIcon/service-banner-bg.png");
}
