.footer-section {
    background-color: #58A7A7 !important;
    .copyright-area {
        background-color: #58A7A7 !important;
        .copyright {
            color: #fff !important;
        }
    }
    .footer-heading {
        h2 {
        color: #fff;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        }
    }
    .btn--post {
        background-color: #fff;
    padding: 9px 26px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #007F7F;
    border: 1px solid #58a7a7;
      }
      .search-main {
        height: min-content;
          position: relative;
          i.fa-search {
            position: absolute;
          /* left: 0; */
            right: 13px;
            color: #fff;
            cursor: pointer;
            bottom: 11px;
          }
          .search-select-header {
            width: 132px;
        }
      .select2-container--default .select2-selection--single {
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        justify-content: center;
        height: 40px;
        display: flex;
        align-items: center;
      .select2-selection__rendered {
        .select2-selection__placeholder {
          color: #fff !important;
          font-size: 14px;
          font-weight: 600;
        }
      }
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        display: none;
        //  top: 17px; 
        right: 1px;
        width: 20px;
    }
    }
    .footer-links li:hover {
      color: #fff !important;
    }
    .footer-social li a:hover {
      color: #58a7a7;
      background-color: #fff;
    }
    .footer-widget .title {
      width: fit-content;
    }
    .footer-widget {
      width: fit-content;
      li {
        width: fit-content;
        list-style: none;
        color: #fff;
      }
    }
}