@media only screen and (max-width: 991px) {
  .submit-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 991px) {
  .cancel-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
select {
  outline: none;
  cursor: pointer;
}

.form-check-input {
  width: 20px;
  height: 19px;
  padding: 0px;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  border: 1px solid #e1e7ec;
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  // color: #606975;
  appearance: auto;
  background-color: #f9f9f9;
  &:focus {
    box-shadow: none;
    border: 1px solid #e1e7ec;
    // color: #606975;
    background-color: #f9f9f9;
  }
}
.country-code {
  .input-group-text {
    background: transparent;
    border: 1px solid #e1e7ec;
    // border-radius: 0px 0 0 0px;
    height: 40px;
    color: #606975;
    font-size: 14px;
    font-weight: 400;
  }
}
.input-group-append,
.input-group-prepend {
  display: -ms-flexbox;
  display: flex;
}
.input-group-text {
  border: none;
  font-size: 14px;
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  color: white;
  height: 45px;
  border-radius: 0 3px 3px 0;
  font-weight: 500;
}
.form--control {
  background-color: transparent;
  border: 1px solid  #CBDFDF;
  box-shadow: none;
  height: 40px;
  padding: 0 20px;
  // color
  color: gray !important;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  &:focus {
    background-color: transparent;
    border: 1px solid #e1e7ec;
    box-shadow: none;
    // color: #606975;
  }
  &::placeholder {
    // color: #606975;
  }
}
.custom-check-group {
  display: block;
  margin-bottom: 12px;
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    &:checked {
      & + label {
        &::before {
          background: gray !important;
          background: #2cdd9b;
          background: -webkit-linear-gradient(
            legacy-direction(to right),
            #2cdd9b 0%,
            #1dc8cc 100%
          );
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#2cdd9b),
            to(#1dc8cc)
          );
          background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
          background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
          background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          left: 7px;
          width: 6px;
          height: 14px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }
  }
  label {
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      -webkit-appearance: none;
      background: #f0eeee;
      border-radius: 5px;
      padding: 8px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 8px;
      top: -2px;
    }
  }
}
.forgot-password {
  a {
    color: #2cdd9b;
    font-weight: 600;
  }
}
.submit-btn {
  padding: 8px 30px;
  color: white;
  background: gray !important;
  // background: -webkit-linear-gradient(
  // legacy-direction(to right),
  // #2cdd9b 0%,
  // #1dc8cc 100%
  //   );
  // background: -webkit-gradient(
  // linear,
  // left top,
  // right top,
  // from(#2cdd9b),
  // to(#1dc8cc)
  //   );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
}
.cancel-btn {
  padding: 8px 30px;
  color: white;
  background: #ea5455;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
}
.chosen-select {
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 10px 30px 10px 20px;
}
.chosen-container {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  .chosen-single {
    margin: 0;
    z-index: 2;
    width: 100%;
    height: auto;
    outline: none;
    background: none;
    font-size: 14px;
    box-shadow: none;
    padding: 10px 12px;
    border-radius: 3px;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #e1e7ec;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    span {
      margin: 0;
      width: 100%;
      color: #606975;
      line-height: initial;
      font-weight: 500;
      font-size: 13px;
    }
  }
  .chosen-search {
    input {
      height: 35px !important;
      border-color: #e1e7ec !important;
      border-radius: 3px !important;
    }
  }
  .chosen-results {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    line-height: 34px;
    li {
      font-weight: 500;
      &.highlighted {
        background: #2cdd9b;
      }
    }
  }
  .chosen-drop {
    border-radius: 5px;
  }
}
.chosen-container-active {
  &.chosen-with-drop {
    .chosen-single {
      border-radius: 5px;
      border: 1px solid #e1e7ec;
      background: transparent;
      box-shadow: none;
    }
  }
}
.btn-toggle {
  border-radius: 0 3px 3px 0;
  position: absolute !important;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  z-index: 9;
  border: none !important;
  color: #606975;
}
.input-group {
  margin-bottom: 10px;
}

// FIELDS

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}
input,
textarea {
  padding: 12px 20px;
}
input::placeholder,
textarea::placeholder {
  // color: #606975;
}
textarea {
  display: block;
  width: 100%;
  display: block;
  min-height: 120px;
}
input,
select,
textarea {
  border: 1px solid #CBDFDF;
  vertical-align: baseline;
  font-size: 100%;
  // color: #606975;
}
label {
  font-size: 14px;
  // color: ;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

// --------------------
@media only screen and (max-width: 991px) {
  .account-header .title {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 767px) {
  .account-form-area {
    padding: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .account-form-area::before {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .account-form-area::after {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .contact-form-area {
    padding: 40px 20px;
  }
}

@media only screen and (max-width: 991px) {
  .contact-form-area .title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 991px) {
  .contact-info-content .title {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .contact-info-content p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 991px) {
  .contact-info-item-area .header-title {
    font-size: 22px;
  }
}
@media only screen and (max-width: 991px) {
  .contact-info-item-area {
    padding: 40px 20px;
  }
}

.account-section {
  min-height: calc(100vh - 307px);
}
.account-logo-area {
  position: relative;
  margin-bottom: 20px;
  .account-logo {
    img {
      height: 40px;
    }
  }
}
.account-header {
  margin-bottom: 30px;
  .title {
    font-weight: 700;
    color: #007F7F;
    font-size: 30px;
    // text-transform: uppercase;
    position: relative;
    // 		&::before {
    // 			content: "";
    // 			height: 1px;
    // 			position: absolute;
    // 			top: 10px;
    // 			width: 35%;
    // 			background: -webkit-linear-gradient(
    //     right,
    //     rgba(255, 255, 255, 0.2) 0%,
    //     rgba(96, 105, 117, 0.3) 100%
    //   );
    // 			left: 0;
    // 		}
    // 		&::after {
    // 			content: "";
    // 			height: 1px;
    // 			position: absolute;
    // 			top: 10px;
    // 			width: 35%;
    // 			background: -webkit-linear-gradient(
    //     right,
    //     rgba(96, 105, 117, 0.3) 0%,
    //     rgba(255, 255, 255, 0.2) 100%
    //   );
    // 			right: 0;
    // 		}
  }
}
.account-form-area {
  position: relative;
  padding: 30px;
  border-radius: 3px;
  width: 100% !important;
  // background: white;
  border: 1px solid #ababab;


  // &::before {
  // 	background: white;
  // 	border: 1px solid #e1e7ec;
  // 	border-radius: 3px;
  // 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
  // 	content: "";
  // 	display: block;
  // 	height: 100%;
  // 	left: -1px;
  // 	position: absolute;
  // 	width: 100%;
  // 	-webkit-transform: rotate(-3deg);
  // 	-moz-transform: rotate(-3deg);
  // 	-ms-transform: rotate(-3deg);
  // 	-o-transform: rotate(-3deg);
  // 	transform: rotate(-3deg);
  // 	top: 0;
  // 	z-index: -2;
  // }
  // &::after {
  // 	background: white;
  // 	border: 1px solid #e1e7ec;
  // 	border-radius: 3px;
  // 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
  // 	content: "";
  // 	display: block;
  // 	height: 100%;
  // 	left: -1px;
  // 	position: absolute;
  // 	width: 100%;
  // 	-webkit-transform: rotate(2deg);
  // 	-moz-transform: rotate(2deg);
  // 	-ms-transform: rotate(2deg);
  // 	-o-transform: rotate(2deg);
  // 	transform: rotate(2deg);
  // 	top: 0;
  // 	z-index: -1;
  // }'

  .btn-group {
    .btn.btn-outline-secondary {
      width: 175px;
      box-shadow: none !important;
      border: none !important;
      font-size: 14px;
    }
     input[type="radio"]:checked + label {
      background-color: #007F7F !important;
      border: none !important;
      color: #fff !important;
    }
    .btn-freelance {
      background-color: #CBDFDF;
      color:  #90BCBC;
    }
    .btn-hire {
      background-color: #CBDFDF;
      color:   #90BCBC;
    }
  }
  a.text--base {
    color: #7F007F !important;
  }
  .account-item {
    label {
      a {
      color: #7F007F !important;
    }
  }
  }
  .submit-btn {
    background-color: #7F007F !important;

  }
}
.contact-wrapper {
  border-radius: 3px;
  overflow: hidden;
}
.contact-form-area {
  background-color: #f9f9f9;
  padding: 40px;
  .title {
    font-size: 23px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #007F7F;

  }
  p {
    font-size: 14px;
  }
  .contact-form {
    margin-top: 30px;
  }
  textarea {
    border-radius: 3px;
    padding: 10px 20px;
    min-height: 150px;
  }
}
.contact-info-item-area {
  height: 100%;
  position: relative;
  padding: 40px;
  z-index: 2;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
  &::after {
    background-color: #1e2746;
    opacity: 0.95;
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .header-title {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 600;
    color: white;
  }
  p {
    font-size: 14px;
    color: white;
  }
}
.contact-info-icon {
  i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #2cdd9b;
    box-shadow: 7px 5px 30px 0px rgba(72, 73, 121, 0.15);
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    color: white;
    font-size: 16px;
  }
}
.contact-info-content {
  width: calc(100% - 50px);
  padding-left: 15px;
  .title {
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
  p {
    font-size: 14px;
  }
}
