#payment-index {
    .btn-add-method {
        font-size: 14px;
    }
    .pay-block {
        background-color:#EFF4F4;
        font-size: 14px;
        td {
            vertical-align: middle;
            border:none ;
            padding: 18px;
        }
        td.card-num {
            font-size: 16px;
        }
        .btn-primary {
            border: 1px solid #7f007f;
            color: #7f007f;
            background-color: #fff;
            border-radius: 5px;
            font-size: 14px;
        }
    }
    .icons {
        background-color: #fff !important;
    .fa-edit,.fa-trash {
        color:#7F007F;
    }
    }
}
#company-container {
    .company-logo-label
    {
    background: #fff;
    border: 1px dashed #CBDFDF;
    height: 90px;
    display: flex;
    flex-direction: column;
    color: gray;
    justify-content: center;
    span {
        color: #007F7F;
    }
        text-align: center;
        input[type="file"] {
            display: none;
            }
    }
}
