/*
<div class="preloader">
    <div class="loader-container">
        <div class="loader"></div>
        <img src="https://cdn.jsdelivr.net/gh/mohd7469/dureforce@main/images/loader.gif"
             width="200"
             height="200">
    </div>
</div>
*/

.preloader {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: white !important;
    opacity: 0.9 !important;
    z-index: 9999999 !important;

    .loader-container {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        text-align: center !important;

        .loader {
            width: 35px !important;
            aspect-ratio: 1 !important;
            border-radius: 50% !important;
            border: 5px solid lightblue !important;
            border-right-color: purple !important;
            animation: l2 0.7s infinite linear !important;
        }

        img {
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            text-align: center !important;
        }
    }
}

@keyframes l2 {
    to {
        transform: rotate(1turn);
    }
}