.dashboard-sidebar-inner {
    background-color: #1e2746;
    padding: 20px 0px;
    border-radius: 2px !important;
    height: 100%;
}
.cretae-job-btn{
    
    background: #7F007F !important;
    border-radius: 5px;
}
#outer
{
    width:100%;
    text-align: right;
    padding-right: 7px;
}
.inner
{
    display: inline-block;
}
.cancel-job-btn{
    color: #7F007F;
    background-color: transparent
}
.badge{
    color: #007f7f !important;
}
.dropzone .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 11px !important;
    min-width: 100%;
    max-width: 100%;
    padding: 2em 1em;
    text-align: center;
    color: rgba(0,0,0,.9);
    line-height: 150%;
}
.dropzone .dz-preview .dz-image {
    border-radius: -51px;
    overflow: hidden;
    width: 64px;
    height: 63px;
    position: relative;
    display: list-item;
    z-index: 10;
    margin-left: 5px;
}
.dropzone .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: -3px;
    left: 0;
    opacity: 0;
    font-size: 11px !important;
    min-width: 100%;
    max-width: 100%;
    padding: 1em 1em;
    text-align: center;
    color: rgba(0,0,0,.9);
    line-height: 135%;
}
.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    min-height: 100px;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 391;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -41px;
}
.select2Tag input{
    background-color: transparent !important;
    padding: 0 !important;
}
.inline{
    display: inline-flex;
    float:left;
}

.card-title{

    color:#007f7f !important;
    padding:10px;

}
.card {
    
    border: 0px !important;
    border-radius: 0;
}
.card-body .custom-padding {
    padding: 0rem 0rem !important;
}

.upload_icon{
    position: absolute;
    left: 13%;
    right: 0%;
    top: 50.78%;
    bottom: 22%;

}
.upload_inner_arrow{
    
    position: absolute;
    left: 3.15%;
    right: 32.52%;
    top: 38.12%;
    bottom: 3.78%;
}
.dropzone {
    
    background: white;
    border-radius: 5px;
    height: 121px;
    border: 2px dashed #CBDFDF;
    border-image: none;
    max-width: 500px;
    min-height: 126px;
    margin-left: auto;
    margin-right: auto;
}
.custom--card .card-body .card-form-wrapper input {
    
    background-color: white !important;
    border-radius: 3px;
    padding: 10px 15px;
    
}


.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #e1e7ec !important;
    
}
.select2-container--default .select2-selection--multiple {
    
    background-color: white;
    border: 1px solid #e1e7ec;
   

}

.form-control {
    border: 1px solid #e1e7ec;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    appearance: auto;
    background-color: white !important;
    
}


.hide{
    display: none;
}
.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 1em;
    font-size: 11px;
}

.dropzone .dz-preview .dz-progress {
    opacity: 0;
}